#calendar-container {
	padding: 10px;
	width: 450px;
	height: 450px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: 30px;
	font-family: 'Arial', sans-serif;
	background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container>div {
	padding: 0;
	margin-bottom: 15px;
}

#calendar-month-year {
	margin: 10px;
}

#calendar-dates>table>tr>td {
	padding: 15px;
}